.contactContent {
    width: 1000px;
    margin: auto;
    margin-top: 25px;
    background-color: #faf6e1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.container {
    background-color: #faf6e1;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px rgb(48, 37, 68);
    margin-left: 40x;
}

input {
 width: 300px;
}

textarea {
    width: 300px;
    height: 100px;
}