.containerButtons {
    background: linear-gradient(to bottom, #5e3485, #42245e);
    border-style: solid;
    border-width: 3px;
    border-color: #9c7bb8
}

#findCourseButton {
    background: linear-gradient(to bottom, #5e3485, #42245e);
    border-style: solid;
    border-width: 3px;
    border-color: #9c7bb8
}
.homeContainer {
    padding-top: 30px;
}

