.nav {

    background-color: #faf6e1 !important;
    /* box-shadow: 5px 5px 10px rgb(67, 50, 94); */
}

.nav-link {
    margin-left :8px;
    color: #5e2592
}

.nav-link.active {
    background-color: #552d7e !important;
    color: #faf6e1 !important;
    border-color: transparent !important;
    text-decoration: underline;
    
}

.signedout {
    column-count: 7
}

.signedin {
    column-count: 6
}