.input {
    margin-bottom: 10px;
    width: 300px;
}

.introduction {
    color: white;
}
.submitButton {
    margin-bottom: 20px;
}

.content {
    text-align: center;
    /* padding-top: 5%; */
} 

a {
    color: #5e2592
}